*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/photo-1605470207062-b72b5cbe2a87.avif);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center;
}
nav img{
    width: 180px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(74deg) brightness(114%) contrast(100%);
}
.nav-links{
    flex: 1;
    text-align: right;
    padding-bottom: 5px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;

}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    margin: auto;
    display: block;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
